ul {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 25vw;
  padding: 20px 10px;
  padding-left: 0;
  height: 100vh;
  box-shadow: 2px 0px 18px #555;
  overflow: hidden;
}
li {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  width: 100vw;
  padding-right: 10px;
}

.link {
  text-decoration: none;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  color: #858585;
  font-size: 18px;
  width: 100vh;
  padding: 15px 20px;
}
img {
  margin-right: 10px;
}

.link:hover,
.link:focus {
  color: #5d5fef;
}

.link:focus {
  background-color: rgba(93, 95, 239, 0.1);
}
.link:hover::after {
  content: '';
  display: block;
  position: fixed;
  width: 5px;
  height: 64px;
  background: #5d5fef;
  margin-block-start: calc(-2.6%);
  margin-inline-start: calc(101vw - 76.8vw);
}

.exit {
  display: inline-block;
  bottom: 9%;
  left: 0;
  position: absolute;
  width: 50vh;
  padding: 15px 0px;
  background-color: #5d5fef;
}
.exit img {
  position: relative;
  left: calc(100vw - 88vw);
}
