.ul {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 25vw;
  padding: 20px 20px;
  padding-left: 0;
  height: 100vh;
  box-shadow: 2px 0px 18px #555;
  overflow: hidden;
}
.li {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  width: 100vw;
  padding-right: 10px;
}

.link {
  text-decoration: none;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  color: #858585;
  font-size: 18px;
  width: 24%;
  padding: 15px 20px;
}
.img {
  margin-right: 10px;
}

.link:hover,
.link:focus {
  color: #5d5fef;
}

.link:focus {
  background-color: rgba(93, 95, 239, 0.1);
}
.link:hover::after,
.link:global(.active)::after {
  content: '';
  display: block;
  position: absolute;
  width: 4px;
  height: 64px;
  background: #5d5fef;
  margin-top: -15px;
  left: 26.1vw;
}
.link:global(.active) {
  background-color: rgba(93, 95, 239, 0.1);
  color: #5d5fef;
}
.link a:global(.active) svg > * {
  fill: #5d5fef;
}

.exit {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  bottom: 95px;
  align-items: center;
  position: absolute;
  width: 100%;
  padding: 15px 0px;
  background-color: #5d5fef;
}

@media (max-width: 768px) {
  .ul {
    width: 10rem;
  }
  .link {
    font-size: 1rem;
    width: 30%;
  }
  .link {
    font-size: 14px;
  }
  .link:hover::before,
  .link:global(.active)::before {
    left: 11rem;
    height: 59px;
  }
  .img {
    width: 20px;
    height: 20px;
  }
}
