.containerMaster {
  display: grid;
  position: absolute;
  width: 72vw;
  right: 0;
  height: 100vh;
  align-content: center;
}
.containerTitle {
  position: absolute;
  width: 166px;
  height: 30px;
  top: 104px;
}
.containerTitle h1 {
  color: #2d2d2d;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
}
.containerTitle p {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #2d2d2d;
}

.register {
  position: absolute;
  width: 200px;
  height: 50px;
  right: calc(2vw);
  top: 104px;
  background: #5d5fef;
  border-radius: 10px;
  cursor: pointer;
}

.register span {
  color: white;
  position: absolute;
  padding: 10px 20px;
}

.containerClient {
  display: grid;
  position: relative;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: 40px;
  margin-top: 100px;
  margin-left: -20px;
  gap: 20px;
}

.containerClient .Clients {
  background-color: rgba(45, 45, 45, 0.05);
  border-radius: 10px;
  padding: 20px;
}
.containerClient h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: #2d2d2d;
}

.containerClient p {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #2d2d2d;
}

.containerClient button {
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

@media (max-width: 780px) {
  .register {
    width: 50px;
    height: 50px;
    margin-top: 10px;
    right: 30px;
  }
  .register span {
    padding: 0;
    padding-top: 17px;
    padding-left: 17px;
  }
  .containerClient {
    top: 100px;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
  }
  .containerClient .Clients {
    padding: 10px;
    padding-right: 5px;
  }
}
@media (max-width: 430px) {
  .containerMaster {
    width: 90vw;
    margin: 0 20px;
  }

  .containerClient {
    position: absolute;
    grid-template-columns: 1fr;
  }
  .containerClient .Clients {
    margin: auto;
    padding: 15px 100% 15px 15px;
  }
}
@media (max-width: 375px) {
  .containerClient {
    left: -20px;
  }
}
@media (max-width: 320px) {
  .register {
    right: 15px;
  }
  .containerTitle {
    left: 15px;
  }
  .containerClient {
    left: -30px;
  }
}
