.containerMaster {
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: space-evenly;
  top: 20%;
  right: 0;
  width: 70vw;
  height: 100vh;
  align-content: center;
}
.containerChildren {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.containerTitle h1 {
  color: #2d2d2d;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
}
.containerTitle p {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #2d2d2d;
}

.register {
  width: 200px;
  height: 50px;
  right: 2vw;
  background: #5d5fef;
  border-radius: 10px;
  cursor: pointer;
}

.register span {
  color: white;
  position: absolute;
  padding: 10px 20px;
}

.containerClient {
  display: grid;
  position: relative;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: 40px;
  margin-top: 100px;
  gap: 20px;
}

.containerClient .Clients {
  background-color: rgba(45, 45, 45, 0.05);
  border-radius: 10px;
  padding: 20px;
}
.containerClient h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: #2d2d2d;
}

.containerClient p {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #2d2d2d;
}

.containerClient button {
  border: none;
  background-color: rgba(0, 0, 0, 0);
}
@media (min-width: 1200px) {
  .containerMaster {
    top: 15rem;
  }
}
@media (max-width: 780px) {
  .register {
    width: 50px;
    height: 50px;
    margin-top: 10px;
    right: 30px;
  }
  .register span {
    padding: 0;
    padding-top: 17px;
    padding-left: 17px;
  }
  .containerClient {
    top: 100px;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
  }
  .containerClient .Clients {
    padding: 10px;
    padding-right: 5px;
  }
}
@media (max-width: 999px) {
  .containerMaster {
    top: 40rem;
  }
}
@media (max-width: 780px) {
  .containerMaster {
    top: 5rem;
  }
  .containerChildren {
    padding: 0;
    padding-right: 20px;
  }
  .containerClient {
    margin: 0 10px;
    top: 0;
    right: 2%;
  }
}
@media (max-width: 430px) {
  .containerMaster {
    width: 100vw;
    display: block;
  }
  .containerChildren {
    padding: 0 5px;
  }

  .containerClient {
    top: 1.5rem;
    grid-template-columns: 1fr;
    max-width: 100vw;
    padding: 0 15px;
  }
  .containerClient .Clients {
    margin: auto;
    padding: 15px 69% 15px 15px;
  }
}
@media (max-width: 375px) {
  .containerClient {
    left: -20px;
  }
}
@media (max-width: 320px) {
  .register {
    right: 15px;
  }
  .containerTitle {
    left: 10px;
  }
  .containerClient {
    left: -30px;
    padding: 0 27px;
  }
}
