header {
  top: 0;
  position: fixed;
  width: 100vw;
  background-color: #5d5fef;
  z-index: 999;
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 5px 20px;
}

h1 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 45px;
  color: white;
}
.logo {
  text-decoration: none;
}

@media (max-width: 430px) {
  .logo {
    display: inline-block;
    position: absolute;
    top: 0rem;
    left: 30vw;
  }
}
